
/GenAngularComponent/AngularGenTools/obj/*
/GenAngularComponent/.vs/*
/GenAngularComponent/AngularGenTools/Properties/*
/GenAngularComponent/AngularGenTools/.vs/*
/GenAngularComponent/AngularGenTools/bin/*
